In [25]:
import psycopg2
import numpy as np
import pandas as pd
from datetime import date
from fuzzywuzzy import process

In [26]:
expenditures = pd.read_csv('../data/expenditures.csv')
expenditures.head()

,candidate_name,candidate_id,year,office,district,TOT,FND,COMM,ADS,INFO,...,CONTRIB,GENERAL,LOGTOT,LOGFND,LOGCOMM,LOGADS,LOGINFO,LOGOVERHEAD,LOGCONTRIB,LOGGENERAL
0,"GAINES, EDWARD T",1265444,2016,S,1,722100.80,53889.23,68719.09,0.00,222241.57,...,32700.00,344849.89,13.489920,10.894686,11.137782,0.000000,12.311520,11.288125,10.395130,12.750864
1,"ROWEN, ROBERT J.",1383735,2016,S,1,16827.47,100.00,640.18,5128.00,400.00,...,0.00,6268.18,9.730768,4.605170,6.461749,8.542471,5.991465,8.856966,0.000000,8.743241
2,"DODD, BILL",1359048,2016,S,3,4098682.81,181669.96,397477.07,886875.00,206297.60,...,74054.17,1672319.63,15.226176,12.109947,12.892893,13.695459,12.237075,14.230264,11.212552,14.329722
3,"YAMADA, MARIKO M.",1295701,2016,S,3,581241.54,5311.44,147757.78,500.00,258833.45,...,11750.00,412402.67,13.272922,8.577618,11.903330,6.214608,12.463940,11.694464,9.371609,12.929756
4,"GALGIANI, CATHLEEN",1273495,2016,S,5,1914684.12,47866.50,536197.19,577.46,374323.28,...,16110.00,958964.43,14.465063,10.776171,13.192257,6.358639,12.832875,13.077864,9.687195,13.773609

In [27]:
votes = pd.read_csv('../data/votes.csv', dtype='str')
votes['district'] = votes['district'].apply(lambda s: int(s.split('.')[0]))
votes['year'] = votes['year'].apply(lambda s: int(s))
votes.head()

,candidate,office,district,party,year,votes,total_votes,vote_share,winning_votes,winner,incumbent
0,Abel Guillen,A,18,DEM,2012,74422,150287,49.51991855582985,75865,0,0
1,Rob Bonta,A,18,DEM,2012,75865,150287,50.48008144417015,75865,1,0
2,Abel Maldonado,S,15,REP,2008,222617,353846,62.91352735370754,222617,1,1
3,Jim Fitzgerald,S,15,IND,2008,131229,353846,37.08647264629246,222617,0,0
4,Abigail Medina,A,40,DEM,2016,74589,151126,49.35550467821553,76537,0,0

## Match expenditures with votes

In [28]:
def guess_name(row):
    try:
        # Rearrange into 'First Last'
        # This probably isn't strictly necessary, but makes me feel better
        name_parts = row['candidate_name'].split(',')
        name = name_parts[1] + ' ' + name_parts[0]
        # Get rows from votes data for this race
        district = int(row['district'])
        d = votes[(votes['office'] == row['office']) & (votes['district'] == row['district']) & (votes['year'] == row['year'])]
        choices = d['candidate']
        guess = process.extractOne(name, choices)
        return guess[0]
    except:
        return ''

In [29]:
expenditures['votes_name'] = expenditures.apply(guess_name, axis=1)

In [30]:
expenditures.head()

,candidate_name,candidate_id,year,office,district,TOT,FND,COMM,ADS,INFO,...,GENERAL,LOGTOT,LOGFND,LOGCOMM,LOGADS,LOGINFO,LOGOVERHEAD,LOGCONTRIB,LOGGENERAL,votes_name
0,"GAINES, EDWARD T",1265444,2016,S,1,722100.80,53889.23,68719.09,0.00,222241.57,...,344849.89,13.489920,10.894686,11.137782,0.000000,12.311520,11.288125,10.395130,12.750864,Ted Gaines
1,"ROWEN, ROBERT J.",1383735,2016,S,1,16827.47,100.00,640.18,5128.00,400.00,...,6268.18,9.730768,4.605170,6.461749,8.542471,5.991465,8.856966,0.000000,8.743241,Rob Rowen
2,"DODD, BILL",1359048,2016,S,3,4098682.81,181669.96,397477.07,886875.00,206297.60,...,1672319.63,15.226176,12.109947,12.892893,13.695459,12.237075,14.230264,11.212552,14.329722,Bill Dodd
3,"YAMADA, MARIKO M.",1295701,2016,S,3,581241.54,5311.44,147757.78,500.00,258833.45,...,412402.67,13.272922,8.577618,11.903330,6.214608,12.463940,11.694464,9.371609,12.929756,Mariko Yamada
4,"GALGIANI, CATHLEEN",1273495,2016,S,5,1914684.12,47866.50,536197.19,577.46,374323.28,...,958964.43,14.465063,10.776171,13.192257,6.358639,12.832875,13.077864,9.687195,13.773609,Cathleen Galgiani

In [31]:
votes = votes.rename(columns={'candidate': 'votes_name'})
cand_exp_votes = expenditures.merge(votes, on=['votes_name','office','district','year'])
cand_exp_votes.head()

,candidate_name,candidate_id,year,office,district,TOT,FND,COMM,ADS,INFO,...,LOGCONTRIB,LOGGENERAL,votes_name,party,votes,total_votes,vote_share,winning_votes,winner,incumbent
0,"GAINES, EDWARD T",1265444,2016,S,1,722100.80,53889.23,68719.09,0.00,222241.57,...,10.395130,12.750864,Ted Gaines,REP,287314,448816,64.01598873480447,287314,1,1
1,"ROWEN, ROBERT J.",1383735,2016,S,1,16827.47,100.00,640.18,5128.00,400.00,...,0.000000,8.743241,Rob Rowen,DEM,161502,448816,35.984011265195534,287314,0,0
2,"DODD, BILL",1359048,2016,S,3,4098682.81,181669.96,397477.07,886875.00,206297.60,...,11.212552,14.329722,Bill Dodd,DEM,207927,357628,58.140581833637185,207927,1,0
3,"YAMADA, MARIKO M.",1295701,2016,S,3,581241.54,5311.44,147757.78,500.00,258833.45,...,9.371609,12.929756,Mariko Yamada,DEM,149701,357628,41.85941816636281,207927,0,0
4,"GALGIANI, CATHLEEN",1273495,2016,S,5,1914684.12,47866.50,536197.19,577.46,374323.28,...,9.687195,13.773609,Cathleen Galgiani,DEM,174847,308451,56.68550272166406,174847,1,1

## Race totals

In [32]:
cand_exp_votes['race_total'] = cand_exp_votes.groupby(['office','district','year']).transform(sum)['TOT']
cand_exp_votes['opposing_total'] = cand_exp_votes['race_total'] - cand_exp_votes['TOT']

In [33]:
data = cand_exp_votes[(cand_exp_votes['party'] == 'DEM') | (cand_exp_votes['party'] == 'REP')]

In [34]:
# Was the race contested?
data['contested'] = data.duplicated(subset=['year','office','district'], keep=False).astype(int)
# How many contested races?
print('Total     : {}'.format(len(data)))
print('Contested : {}'.format(len(data[data['contested'] == True])))

Total     : 1518
Contested : 1438

/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [35]:
data.to_csv('../data/all.csv', index=False)

In [62]:
data['duplicated'] = data.duplicated(['candidate_name','office','district'], keep=False).astype(int)

/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [63]:
duplicates = data[data['duplicated'] == 1]
len(duplicates)

741

In [64]:
def find_opposing_candidate(row):
    name = data[(data['year'] == row['year']) & (data['office'] == row['office']) \
               & (data['district'] == row['district']) & \ 
                (data['candidate_name'] != row['candidate_name'])]['candidate_name']
    return name.iloc[0]

In [65]:
contested = data[data['contested'] == 1]
contested['opposing_candidate'] = contested.apply(find_opposing_candidate, axis=1)

/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [66]:
contested.head()

,candidate_name,candidate_id,year,office,district,TOT,FND,COMM,ADS,INFO,...,total_votes,vote_share,winning_votes,winner,incumbent,race_total,opposing_total,contested,duplicated,opposing_candidate
0,"GAINES, EDWARD T",1265444,2016,S,1,722100.80,53889.23,68719.09,100.00,222241.57,...,448816,64.01598873480447,287314,1,1,738928,16827.5,1,1,"ROWEN, ROBERT J."
1,"ROWEN, ROBERT J.",1383735,2016,S,1,16827.47,100.00,640.18,5128.00,400.00,...,448816,35.984011265195534,287314,0,0,738928,722101,1,0,"GAINES, EDWARD T"
2,"DODD, BILL",1359048,2016,S,3,4098682.81,181669.96,397477.07,886875.00,206297.60,...,357628,58.140581833637185,207927,1,0,4.67992e+06,581242,1,0,"YAMADA, MARIKO M."
3,"YAMADA, MARIKO M.",1295701,2016,S,3,581241.54,5311.44,147757.78,500.00,258833.45,...,357628,41.85941816636281,207927,0,0,4.67992e+06,4.09868e+06,1,0,"DODD, BILL"
4,"GALGIANI, CATHLEEN",1273495,2016,S,5,1914684.12,47866.50,536197.19,577.46,374323.28,...,308451,56.68550272166406,174847,1,1,2.14079e+06,226105,1,1,"NAKANISHI, ALAN S."

In [67]:
contested['repeat_challenger'] = contested.duplicated(['candidate_name','office','opposing_candidate'], keep=False).astype(int)
contested[contested['repeat_challenger'] == 1].sort_values('candidate_name').head(n=100)

/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,candidate_name,candidate_id,year,office,district,TOT,FND,COMM,ADS,INFO,...,vote_share,winning_votes,winner,incumbent,race_total,opposing_total,contested,duplicated,opposing_candidate,repeat_challenger
1418,"ALDANA JR., MANUEL",1239991,2004,A,46,13782.00,4930.12,2725.00,100.00,100.00,...,14.954109183887649,44570,0,0,971375,957593,1,1,"NUNEZ, FABIAN",1
1656,"ALDANA JR., MANUEL",1239991,2002,A,46,100.00,100.00,100.00,100.00,100.00,...,13.68564545,27227,0,0,920743,920643,1,1,"NUNEZ, FABIAN",1
491,"ALEJO, LUIS",1318708,2012,A,30,430343.13,44271.36,100.00,24010.58,60582.40,...,65.36634922732566,79141,1,0,450128,19785.3,1,1,"BERNOSKY, ROBERT E.",1
699,"ALEJO, LUIS",1318708,2010,A,28,545900.90,19277.81,20357.34,313558.47,5047.50,...,62.7761240795864,56098,1,0,546001,100,1,0,"BERNOSKY, ROBERT E.",1
1278,"ALQUIST, ELAINE",1004827,2004,S,13,1226849.82,148993.18,152939.66,183803.70,232445.60,...,68.53448843,156321,1,0,1.22705e+06,200,1,1,"CONNOLLY, SHANE PATRICK",1
829,"ALQUIST, ELAINE",1004827,2008,S,13,506250.50,107619.23,746.78,4587.00,58800.00,...,70.9355661869397,179855,1,1,506450,200,1,1,"CONNOLLY, SHANE PATRICK",1
584,"ATKINS, TONI G.",1314678,2012,A,78,803030.35,41767.80,50595.06,2610.00,148261.97,...,62.38874104728739,116987,1,0,811188,8157.79,1,1,"DENNEY, RALPH",1
804,"ATKINS, TONI G.",1314678,2010,A,76,643420.60,19137.62,62459.48,2028.00,266759.79,...,57.680296373405994,75357,1,0,667767,24346.1,1,0,"DENNEY, RALPH",1
1640,"AYAO, ELY DE LA CRUZ",1240984,2002,A,39,100.00,100.00,100.00,100.00,100.00,...,23.90287695,36449,0,0,484198,484098,1,1,"MONTANEZ, CINDY",1
1404,"AYAO, ELY DE LA CRUZ",1240984,2004,A,39,100.00,100.00,100.00,100.00,100.00,...,23.214946609460885,56017,0,0,488132,488032,1,1,"MONTANEZ, CINDY",1
1460,"BENOIT, JOHN J.",1240093,2004,A,64,618313.64,83398.02,78016.33,1300.00,3250.00,...,61.24925503721644,96606,1,1,618414,100,1,1,"MELSH, ROBERT J.",1
1694,"BENOIT, JOHN J.",1240093,2002,A,64,348202.75,26074.78,140064.86,500.00,39651.92,...,63.28070516,55351,1,0,348303,100,1,1,"MELSH, ROBERT J.",1
1312,"BERG, PATTY",1233578,2004,A,1,426469.37,53151.46,48100.30,91385.78,13675.00,...,61.442209847566744,120157,1,1,426669,200,1,1,"TYRONE, RAY",1
1076,"BERG, PATTY",1233578,2006,A,1,312532.54,68441.01,2590.89,100.00,3000.00,...,64.74097372046477,99626,1,1,312733,200,1,1,"TYRONE, RAY",1
492,"BERNOSKY, ROBERT E.",1322746,2012,A,30,19785.31,100.00,10274.40,4045.00,100.00,...,34.633650772674336,79141,0,0,450128,430343,1,0,"ALEJO, LUIS",1
700,"BERNOSKY, ROBERT E.",1322746,2010,A,28,100.00,100.00,100.00,100.00,100.00,...,37.2238759204136,56098,0,0,546001,545901,1,0,"ALEJO, LUIS",1
1152,"BLAKESLEE, SAM",1234847,2006,A,33,293792.00,21476.02,5318.07,2.62,40987.05,...,67.01152627874237,91393,1,1,293892,100,1,1,"CUTHBERT, ROBERT",1
928,"BLAKESLEE, SAM",1234847,2008,A,33,506814.41,66011.08,3564.88,100.00,13400.00,...,63.843713698507734,114316,1,1,517527,10712.6,1,1,"CUTHBERT, ROBERT",1
116,"BOCANEGRA, RAUL",1330049,2016,A,39,1958821.33,148768.25,327362.52,346813.38,242509.87,...,60.11583911056129,74834,1,0,2.10656e+06,147734,1,1,"LOPEZ, PATTY",1
314,"BOCANEGRA, RAUL",1330049,2014,A,39,1885184.66,208707.49,194472.31,1280.85,164231.54,...,49.48261313674113,22750,0,1,1.88528e+06,100,1,1,"LOPEZ, PATTY",1
286,"BRUNTON, BOB",1363959,2014,A,25,100.00,100.00,100.00,100.00,100.00,...,30.59320097644272,57718,0,0,663688,663588,1,1,"CHU, KANSEN",1
88,"BRUNTON, BOB",1363959,2016,A,25,6473.56,100.00,159.50,100.00,250.00,...,27.197655653911855,107821,0,0,475611,469138,1,1,"CHU, KANSEN",1
891,"BUCHANAN, JOAN",1299400,2008,A,15,2289200.58,47081.89,154325.73,1192513.92,393466.97,...,52.24093645873532,125897,1,0,3.56953e+06,1.28033e+06,1,1,"WILSON, ABRAM",1
671,"BUCHANAN, JOAN",1299400,2010,A,15,4377586.56,75225.62,116859.35,2568370.42,145150.00,...,53.33547817116827,104441,1,1,5.59538e+06,1.21779e+06,1,1,"WILSON, ABRAM",1
349,"CALDERON, IAN",1336511,2014,A,57,1163340.57,8696.45,142916.84,100.00,268309.50,...,51.50524082257781,32284,1,0,1.26654e+06,103204,1,1,"TOPALIAN, RITA H.",1
151,"CALDERON, IAN",1336511,2016,A,57,1403498.93,29196.48,113554.82,100.00,233977.50,...,62.678959950576164,93339,1,1,1.5261e+06,122602,1,1,"TOPALIAN, RITA H.",1
189,"CHAVEZ, ROCKY",1339551,2016,A,76,196490.73,14663.86,21812.12,100.00,46777.40,...,59.35631069168315,95477,1,0,202666,6174.98,1,1,"KROUSE, THOMAS",1
385,"CHAVEZ, ROCKY",1339551,2014,A,76,573396.15,67874.80,98531.16,100.00,110574.20,...,66.92987745906768,58824,1,0,573496,100,1,1,"KROUSE, THOMAS",1
287,"CHU, KANSEN",1356482,2014,A,25,663588.37,15587.08,137004.26,5149.10,48600.00,...,69.40679902355728,57718,1,0,663688,100,1,1,"BRUNTON, BOB",1
89,"CHU, KANSEN",1356482,2016,A,25,469137.56,4226.84,37176.86,825.00,2500.00,...,72.80234434608815,107821,1,1,475611,6473.56,1,1,"BRUNTON, BOB",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476,"GILHAM, MARK H.",1344727,2012,A,22,100.00,100.00,100.00,100.00,100.00,...,28.602224567304162,126519,0,0,476291,476191,1,1,"MULLIN, KEVIN",1
1237,"GLOVER, MICHAEL G.",1283593,2006,A,70,26037.18,100.00,100.00,8191.73,100.00,...,39.525415395960884,78724,0,0,404463,378426,1,1,"DE VORE, CHARLES S.",1
1007,"GLOVER, MICHAEL G.",1283593,2008,A,70,6401.35,100.00,2127.00,100.00,3040.00,...,42.22076513756841,114556,0,0,413292,406890,1,1,"DE VORE, CHARLES S.",1
500,"GOODMAN, VIRGINIA ""MARI""",1345763,2012,A,34,100.00,100.00,100.00,100.00,100.00,...,30.756713833817155,106384,0,0,561860,561760,1,1,"GROVE, SHANNON",1
305,"GOODMAN, VIRGINIA ""MARI""",1345763,2014,A,34,100.00,100.00,100.00,100.00,100.00,...,25.527053472258952,70403,0,0,542061,541961,1,1,"GROVE, SHANNON",1
279,"GRAY, ADAM C.",1315410,2014,A,21,2374323.83,102761.88,234197.49,832205.95,280489.50,...,53.386825615161236,34931,1,1,2.44684e+06,72511.7,1,1,"MOBLEY JR., JACK M.",1
473,"GRAY, ADAM C.",1315410,2012,A,21,1390566.05,52204.23,44193.62,95352.18,246546.27,...,58.1807995738545,63349,1,0,1.58109e+06,190524,1,1,"MOBLEY JR., JACK M.",1
304,"GROVE, SHANNON",1325437,2014,A,34,541960.96,57514.81,22629.83,20936.48,63962.58,...,74.47294652774104,70403,1,1,542061,100,1,1,"GOODMAN, VIRGINIA ""MARI""",1
499,"GROVE, SHANNON",1325437,2012,A,34,561759.84,19382.16,48045.52,11981.42,86901.53,...,69.24328616618286,106384,1,0,561860,100,1,1,"GOODMAN, VIRGINIA ""MARI""",1
365,"HADLEY, DAVID F.",1359993,2014,A,66,1992022.07,655.80,600582.83,710821.27,234912.16,...,50.32656157489639,54401,1,0,5.48396e+06,3.49194e+06,1,1,"MURATSUCHI, AL",1
169,"HADLEY, DAVID F.",1359993,2016,A,66,3593491.14,41873.78,818535.93,678770.31,472759.06,...,45.88273977106924,105336,0,1,9.26733e+06,5.67384e+06,1,1,"MURATSUCHI, AL",1
969,"HALL, ISADORE",1276161,2008,A,52,1167247.06,17431.15,158801.86,19131.00,234774.14,...,86.16939535433536,72895,1,0,1.19132e+06,24077.3,1,1,"PATRICK, GWEN (BATISTE)",1
749,"HALL, ISADORE",1276161,2010,A,52,1230593.98,92206.90,37233.17,675.00,301638.82,...,88.30634845217645,48323,1,1,1.23462e+06,4030.4,1,1,"PATRICK, GWEN (BATISTE)",1
1011,"HARKEY, DIANE",1281241,2008,A,73,681214.60,43262.47,309464.72,1529.00,131136.97,...,53.095233780902504,87905,1,0,681415,200,1,1,"JONES, JUDITH E.",1
796,"HARKEY, DIANE",1281241,2010,A,73,432815.28,28981.49,86325.21,2680.00,67595.48,...,61.952522708190216,81164,1,1,459143,26327.3,1,1,"JONES, JUDITH E.",1
865,"HARRINGTON, MICHAEL ""MICKEY""",1283210,2008,A,3,20391.46,100.00,1872.05,6200.21,100.00,...,44.48742746615087,104755,0,0,642789,622398,1,1,"LOGUE, DANIEL R.",1
640,"HARRINGTON, MICHAEL ""MICKEY""",1283210,2010,A,3,25421.84,100.00,100.00,9254.04,100.00,...,36.58186360680227,84069,0,0,411235,385813,1,1,"LOGUE, DANIEL R.",1
331,"HERNANDEZ, ROGER",1276119,2014,A,48,564420.68,20242.61,6545.39,100.00,147946.44,...,54.373364612469544,30131,1,1,660969,96548.5,1,1,"LARA-GARDNER, JOSEPH",1
527,"HERNANDEZ, ROGER",1276119,2012,A,48,790999.51,24532.36,72884.52,2033.75,111240.89,...,59.44301539392684,74642,1,0,904225,113226,1,1,"LARA-GARDNER, JOSEPH",1
659,"HUBER, ALYSON",1297647,2010,A,10,4547232.30,91818.90,254938.39,3009646.65,249000.00,...,51.91229887783506,83177,1,1,5.14338e+06,596152,1,1,"SIEGLOCK, JACK A.",1
881,"HUBER, ALYSON",1297647,2008,A,10,1164198.71,9846.18,197973.68,702843.85,65000.00,...,46.66271826383087,88242,1,0,2.66e+06,1.4958e+06,1,1,"SIEGLOCK, JACK A.",1
812,"HUESO, BEN",1315742,2010,A,79,874672.99,20120.98,122168.00,50338.51,341187.94,...,62.72363114731914,46349,1,0,881970,7297.5,1,0,"ROACH, DERRICK",1
588,"HUESO, BEN",1315742,2012,A,80,543501.32,46689.17,23825.78,2122.12,136062.03,...,69.62140932547838,76225,1,0,544055,553.88,1,0,"ROACH, DERRICK",1
797,"JONES, JUDITH E.",1286487,2010,A,73,26327.34,100.00,7081.95,11088.03,100.00,...,38.047477291809784,81164,0,0,459143,432815,1,1,"HARKEY, DIANE",1
1012,"JONES, JUDITH E.",1286487,2008,A,73,100.00,100.00,100.00,100.00,100.00,...,40.761411201913496,87905,0,0,681415,681315,1,1,"HARKEY, DIANE",1
716,"JONES, LINDA K.",1302094,2010,A,36,167682.27,1953.31,24190.50,3040.00,64408.60,...,42.46496898182291,66312,0,0,510603,342921,1,1,"KNIGHT, STEVE",1
934,"JONES, LINDA K.",1302094,2008,A,36,62437.32,900.00,15446.94,6021.50,837.02,...,48.49005137907129,79502,0,0,394195,331758,1,1,"KNIGHT, STEVE",1
167,"KIM, YOUNG O.",1358869,2016,A,65,3414883.53,35682.89,350747.07,1491654.87,226484.61,...,46.75356796684381,79654,0,1,7.83952e+06,4.42463e+06,1,1,"QUIRK-SILVA, SHARON",1
363,"KIM, YOUNG O.",1358869,2014,A,65,2451169.55,24069.56,369224.42,927238.33,129229.80,...,54.62232534158288,42376,1,0,5.54258e+06,3.09141e+06,1,1,"QUIRK-SILVA, SHARON",1
935,"KNIGHT, STEVE",1295329,2008,A,36,331758.12,29157.40,114104.63,300.00,80121.35,...,51.50994862092871,79502,1,0,394195,62437.3,1,1,"JONES, LINDA K.",1

In [68]:
contested.to_csv('data/contested.csv', index=False)

## Repeat candidates

In [69]:
identifier_cols = ['candidate_name','office','district','party']
exp_cols = ['CNS','FND','LIT','OFC','PET','PHO','POL','PRT','RAD','SAL','TEL','PRO','WEB']
pct_cols = [exp + '_pct' for exp in exp_cols]
data_cols = ['vote_share','TOT','opposing_total'] + pct_cols

differenced = pd.DataFrame(columns=(identifier_cols + data_cols))

def difference(df):
    """
    Takes a group of observations with the same name and office and
    and adds any *consecutive* repeat elections to a DataFrame.
    """
    
    def compute_difference(pair):
        """
        Compute the difference in expenditures and outcome
        between two consecutive elections.
        """
        
        year1 = pair.iloc[0]['year']
        year2 = pair.iloc[1]['year']
        
        incumbent1 = pair.iloc[0]['incumbent']
        
        if pair.iloc[0]['office'] == 'A' and (year1 - year2 == 2):
            data = pair.iloc[0][data_cols] - pair.iloc[1][data_cols]
            
            data = data.append(pair.iloc[0][identifier_cols])
            data['year1'] = year1
            data['year2'] = year2
            
            data['TOT1']= pair.iloc[0]['TOT']
            data['TOT2']= pair.iloc[1]['TOT']
            
            data['opposing_total1']= pair.iloc[0]['opposing_total']
            data['opposing_total2']= pair.iloc[1]['opposing_total']
            
            data['incumbent1'] = pair.iloc[0]['incumbent']
            data['incumbent2'] = pair.iloc[1]['incumbent']
            
            global differenced
            differenced = differenced.append(data, ignore_index=True)
        
    df = df.sort_values('year', ascending=False)
    
    if len(df) > 1:
        compute_difference(df.iloc[0:2])
    if len(df) > 2:
        compute_difference(df.iloc[1:3])
    if len(df) > 3:
        compute_difference(df.iloc[2:4])
    
    return None

In [70]:
data['vote_share'] = data['vote_share'].astype(float)
#data[data['contested'] == 1].groupby(['candidate_id','office']).apply(difference)
data.groupby(['candidate_id','office']).apply(difference)
differenced.head()

/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,candidate_name,office,district,party,vote_share,TOT,opposing_total,CNS_pct,FND_pct,LIT_pct,...,PRO_pct,WEB_pct,TOT1,TOT2,incumbent1,incumbent2,opposing_total1,opposing_total2,year1,year2
0,"CALDERON, CHARLES M.",A,58.0,DEM,-1.498600,162575.37,0.00,NaN,NaN,NaN,...,NaN,NaN,1079675.44,917100.07,1,1,100.00,100.00,2010.0,2008.0
1,"CALDERON, CHARLES M.",A,58.0,DEM,0.954872,80923.58,0.00,NaN,NaN,NaN,...,NaN,NaN,917100.07,836176.49,1,0,100.00,100.00,2008.0,2006.0
2,"LESLIE, R. TIM",A,4.0,REP,0.116988,496683.68,0.00,NaN,NaN,NaN,...,NaN,NaN,504978.53,8294.85,1,1,100.00,100.00,2004.0,2002.0
3,"KARNETTE, BETTY",A,54.0,DEM,7.274579,-1494454.78,-1025161.27,NaN,NaN,NaN,...,NaN,NaN,357810.03,1852264.81,1,0,100.00,1025261.27,2006.0,2004.0
4,"FOSTER, BEA",A,71.0,DEM,3.959265,0.00,259388.64,NaN,NaN,NaN,...,NaN,NaN,100.00,100.00,0,0,612298.34,352909.70,2004.0,2002.0

In [71]:
print(len(differenced))
differenced.to_csv('data/differenced.csv', index=False)

425